<div class="item_row item_block" id="item_<%= item.id %>">
  <p><b>title</b>: <%= item.title %></p>
  <p><b>description</b>: <%= item.description %></p>
  <p><b>price</b>: <%= item.price %></p>
  <div class="center">
    <%= link_to "Show", item_path(item.id) %>
    <%= link_to "Edit", edit_item_path(item.id) %>
    <%= link_to "Delete", item_path(item.id), {method: :delete, remote: true, data: {confirm: "削除します．よろしいですか？"}} %>
  </div>
</div>