<%= form_with(url: items_path, data: {remote: true, format: 'json'}, method: :get) do |f| %>

  <div class="cp_iptxt">
    <%= f.label :text, class: "ef" %>
    <%= f.text_field :text, placeholder: "検索ワードを入力してください" %>
  </div>

  <div class="cp_iptxt">
    <%= f.label :shop_name, class: "ef" %>
    <%= f.text_field :shop_name, placeholder: "店舗名で絞り込むことができます(任意)" %>

    <!-- インクリメンタルサーチの結果表示 -->
    <ul id="result" style="background: #f7ffcf;">

    </ul>
  </div>

  <div class="center">
    <%= f.submit "Search", class: "btn-flat-border__create", id: "submit_button_search" %>
  </div>

<% end %>

<script>
  $(document).on('click', 'ol', function(){
    $("#shop_name").val($(this).attr('value'));
    $('#result').find('ol').remove();
    $('#result').find('br').remove();
  });
</script>