<div class="show_container">
  <div>
    <h2> <%= @item.title %></h2>
    <p> <%= @item.description %></p>
    <p><b>price</b>: <%= @item.price %>円</p>
    <%= image_tag @item.image.url if @item.image? %>

    <div class="center">
      <%= link_to "Index", items_path, class: "item-btn item-btn-show" %>
      <%= link_to "Edit", edit_item_path(@item.id), class: "item-btn item-btn-edit" %>
      <%= link_to "Delete", item_path(@item.id), method: :delete, data: {confirm: "削除します．よろしいですか？"}, class: "item-btn item-btn-delete" %>
    </div>
  </div>
</div>
