<h1>Welcome to Item_show</h1>
<div>
  <b>title</b>: <%= @item.title %>
  <b>description</b>: <%= @item.description %>
  <b>price</b>: <%= @item.price %>
  <%= link_to "Delete", item_path(@item.id), method: :delete %>
</div>

<p><%= link_to "Index", items_path %></p>
